div#container{
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #7ffff34d;
}


h1{
  text-align: center;
}

div#left{
  flex: 1 1 70%;
}

button#addNewTodo{
  width: 25%;
  padding: 12px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #2572a9;
  border: none;
  margin-bottom: 15px;
}

button#addNewTodo:hover{
  background-color: #19807588;
}

@media (max-width: 1023px) {
  #left{
    margin: 15px;
  }
}